<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Panel" asp-action="Edit">Create Post</a>
    <a asp-controller="Panel" asp-action="Index">Panel</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Auth" asp-action="Logout">Log out</a>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login">Sign In</a>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
