<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <!-- Navbar -->
        <nav class="navbar navbar-dark bg-dark" >
            <form class="container-fluid justify-content-start">
                <a class="btn btn-outline-success me-2" type="button" asp-controller="Home" asp-action="Index">Main Tasks</a>
                <a class="btn btn-sm btn-outline-secondary" type="button" asp-controller="Home" asp-action="Create">Create Task</a>
            </form>
        </nav>
        <!-- Navbar -->

        @RenderBody()

    </div>

    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>

</html>
